name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DOTNET_NOLOGO: 1
  VERSION: 0.0.1
  NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
  SOLUTION: InterfaceBaseInvoke.slnx
  TEST_PATH: ./test/InterfaceBaseInvoke.Tests

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Test Debug x86
        run: dotnet test ${{ env.TEST_PATH }} -c Debug -r x86

      - name: Test Debug x64
        run: dotnet test ${{ env.TEST_PATH }} -c Debug -r x64

      - name: Test Release x86
        run: dotnet test ${{ env.TEST_PATH }} -c Release -r x86

      - name: Test Release x64
        run: dotnet test ${{ env.TEST_PATH }} -c Release -r x64

      - name: Test Report
        uses: dorny/test-reporter@main
        if: (success() || failure())
        with:
          name: Test Report
          path: TestResults/**/*.trx
          reporter: dotnet-trx
          list-suites: failed
          list-tests: failed

      - name: NuGet Publish
        if: ${{ github.ref == 'refs/heads/main' }}
        shell: pwsh
        run: |
          ./build/pack.ps1

      - name: Set variables
        shell: pwsh
        run: |
          $ver = Get-Content -Path ./build/pkg.version
          echo "VERSION=$ver" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo $ver

      - name: Create Tag
        if: github.ref == 'refs/heads/main'
        uses: huoshan12345/update-tag@v1
        with:
          tag_name: ${{ env.VERSION }}
          on_tag_exists: skip
          update_if_exists: true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Create Release
        if: github.ref == 'refs/heads/main'
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          token: ${{ secrets.PAT }}
          generateReleaseNotes: true
          skipIfReleaseExists: true
...
